<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
        <key>emoji_34_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,467},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>emoji_29_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,297},{43,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>emoji_24_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,506},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>bingshu_5_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,585},{157,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,272}</string>
                <key>sourceSize</key>
                <string>{252,272}</string>
            </dict>
            <key>emoji_23_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,376},{50,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>emoji_25_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,248},{43,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>maid_cloth_8_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,517},{145,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,185}</string>
                <key>sourceSize</key>
                <string>{291,185}</string>
            </dict>
            <key>shenqiang_5_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1},{275,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,267}</string>
                <key>sourceSize</key>
                <string>{464,267}</string>
            </dict>
            <key>maid_cloth_3_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,697},{124,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,185}</string>
                <key>sourceSize</key>
                <string>{291,185}</string>
            </dict>
            <key>bingshu_4_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,691},{144,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,272}</string>
                <key>sourceSize</key>
                <string>{252,272}</string>
            </dict>
            <key>emoji_33_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,428},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>emoji_28_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,415},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>shenqiang_4_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{302,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,267}</string>
                <key>sourceSize</key>
                <string>{464,267}</string>
            </dict>
            <key>bgp_87_3_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,381},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>emoji_27_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,295},{35,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>emoji_22_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,428},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>maid_cloth_6_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,517},{151,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,185}</string>
                <key>sourceSize</key>
                <string>{291,185}</string>
            </dict>
            <key>maid_cloth_7_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,202},{222,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,185}</string>
                <key>sourceSize</key>
                <string>{291,185}</string>
            </dict>
            <key>emoji_32_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,506},{46,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>bingshu_2_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,677},{141,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,272}</string>
                <key>sourceSize</key>
                <string>{252,272}</string>
            </dict>
            <key>bingshu_10_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,376},{207,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,272}</string>
                <key>sourceSize</key>
                <string>{252,272}</string>
            </dict>
            <key>maid_cloth_5_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,617},{129,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,185}</string>
                <key>sourceSize</key>
                <string>{291,185}</string>
            </dict>
            <key>shenqiang_1_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,158},{312,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,267}</string>
                <key>sourceSize</key>
                <string>{464,267}</string>
            </dict>
            <key>emoji_26_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,376},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>emoji_31_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,194},{37,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>bingshu_9_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,378},{209,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,272}</string>
                <key>sourceSize</key>
                <string>{252,272}</string>
            </dict>
            <key>maid_cloth_4_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1},{121,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,185}</string>
                <key>sourceSize</key>
                <string>{291,185}</string>
            </dict>
            <key>bgp_87_4_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,248},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>maid_cloth_2_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,175},{103,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,185}</string>
                <key>sourceSize</key>
                <string>{291,185}</string>
            </dict>
            <key>pokedex_mer_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,202},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>pokedex_equip_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,346},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>pokedex_boss_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,248},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>bingshu_3_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,617},{143,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,272}</string>
                <key>sourceSize</key>
                <string>{252,272}</string>
            </dict>
            <key>bingshu_1_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,728},{139,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,272}</string>
                <key>sourceSize</key>
                <string>{252,272}</string>
            </dict>
            <key>maid_cloth_1_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,457},{96,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,185}</string>
                <key>sourceSize</key>
                <string>{291,185}</string>
            </dict>
            <key>pokedex_pet_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,318},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>bingshu_8_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,194},{232,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,272}</string>
                <key>sourceSize</key>
                <string>{252,272}</string>
            </dict>
            <key>bgp_87_1_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,282},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>maid_cloth_9_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,428},{182,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,185}</string>
                <key>sourceSize</key>
                <string>{291,185}</string>
            </dict>
            <key>maid_cloth_10_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1},{291,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,185}</string>
                <key>sourceSize</key>
                <string>{291,185}</string>
            </dict>
            <key>emoji_30_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,202},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>shenqiang_2_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,585},{191,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,267}</string>
                <key>sourceSize</key>
                <string>{464,267}</string>
            </dict>
            <key>bingshu_6_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,457},{175,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,272}</string>
                <key>sourceSize</key>
                <string>{252,272}</string>
            </dict>
            <key>bingshu_7_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,295},{205,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,272}</string>
                <key>sourceSize</key>
                <string>{252,272}</string>
            </dict>
            <key>shenqiang_3_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,295},{238,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,267}</string>
                <key>sourceSize</key>
                <string>{464,267}</string>
            </dict>
            <key>bgp_87_2_png.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,343},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>itemicon1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72c74d80f7ebe244088386e531441fd1:1/1$</string>
            <key>textureFileName</key>
            <string>itemicon1.png</string>
        </dict>
    </dict>
</plist>
